.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.popup-content h3 {
  margin-bottom: 20px;
  text-align: center;
}
.popup-content p {
  margin-bottom: 20px;
  text-align: center;
}

.popup-content form input,
.popup-content form select {
  display:flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup-content form input {
  width: 96%;
}

.popup-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:10px;
  margin-top: 20px;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.save-button, .cancel-button, .delete-button {
  color: #007bff;
  background-color: #ccc;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.save-button:hover {
  background-color: #007bff;
  color: #fff;
}

.cancel-button:hover {
  background-color: #9c9c9c;
}

.delete-button:hover {
  background-color: #dc3545;
  color: #fff;
}

@media screen and (max-width: 620px) {
  .popup-content h1 {
    font-size: 1.5rem;
  }
  .popup-content h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1rem;
  }
  .popup-content p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.8rem;
  } 

  .popup-content form input,
  .popup-content form select {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .popup-content label {
    font-size: 0.9rem;
  }
  
  .popup-content {
    width: 65%;
    padding: 15px;
  }
  
}
